@import "tailwindcss";
@plugin "daisyui";




/* Google Fonts */
.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.secondary {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}